.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: neue-haas-unica, sans-serif; 
  color: #333333;
  margin: 0;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.5px;
  font-weight: 600;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
