.cover{
padding-top: 1%;

object-fit: cover;
width: 95%;
height: 20rem;

}

.imageContainer{
    display: flex;
    justify-content: center
}

a{
    text-decoration: none;
    color: rgb(74, 37, 155);

}

a:visited {
    color: rgb(114, 104, 136);
  }

  a:hover {
    text-decoration: underline;
  }

p{
   font-size: 1.2rem;
}